@charset "utf-8";


/*PC・タブレット・スマホ共通設定
---------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
body {
	margin: 0px;
	padding: 0px;
	color: #333;	/*全体の文字色*/
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 14px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: blue;	/*背景色*/
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 100%;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #333;	/*リンクテキストの色*/
	/*-webkit-transition: 0.5s;	マウスオン時の移り変わるまでの時間設定。0.5秒。*/
	/*transition: 0.5s;			同上*/
}
a:hover {
	/*color: #085a1f;			マウスオン時の文字色*/
	/*text-decoration: none;	マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header .inner {
	width: 100%;	/*幅*/
	height: 140px;	/*高さ*/
	margin: 0 ;
	/*background: url(../images/header_bg_s.png) no-repeat right bottom;	/*背景画像（古いブラウザ用）*/ */
	/*background: url(../images/header_bg.png) no-repeat right bottom/auto 130px;	/*背景画像。最後の130pxは高さの指定。*/ */
}
/*ロゴ画像*/
header #logo {
	width: 50%;	/*ロゴ画像の幅*/
	float: left;	/*左に回り込み*/
	margin: 3% 0 3% 3%;	/*ロゴの上にあける余白。上下のバランスをここで調整して下さい。*/
}

/*ヘッダー右側の電話番号ブロック
---------------------------------------------------------------------------*/
/*ブロック全体*/
#contact {
	float: right;	/*右に回り込み*/
	margin-bottom: 10px;
	margin-right: 20px;
	margin-top: 30px; /*ブロックの上にあける余白。上下のバランスをここで調整して下さい。*/
	width: 350px;	/*ブロック幅*/
	border-radius: 6px;	/*角丸のサイズ*/
	padding: 6px;		/*ボックス内の余白*/
	border: 1px solid #085a1f;	/*枠線の幅、線種、色*/
	background: #fff;	/*背景色*/
	color: #085a1f;	/*文字色*/
	text-align: center;	/*文字をセンタリング*/
}
/*TEL*/
.tel {
	letter-spacing: 0.2em;	/*文字間隔を広くする設定。通常がいいならこの行削除。*/
	font-size: 20px;		/*文字サイズを大きく*/
	font-weight: bold;		/*文字を太く*/
}
/*TELの受付時間の小文字部分*/
.tel span {
	font-size: 11px;	/*文字サイズを小さく*/
	display: block;
	font-weight: normal;	/*太字の設定を解除する設定*/
	letter-spacing: 0.1em;	/*文字間隔*/
}
/*「ログインフォーム」ブロック*/
.form {
	font-size: 14px;	/*文字サイズ*/
	text-align: center;
}
.form a {
	display: block;
	text-decoration: none;
	color: #fff;	/*背景色*/
	border: 1px solid #085a1f;	/*枠線の幅、線種、色*/
	border-radius: 4px;		/*角丸のサイズ*/
	background: #085a1f;	/*背景色*/
}
.form a:hover {
	/*background: #fff;	マウスオン時の背景色*/
	/*color: #085a1f;		マウスオン時の文字色*/
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*メニューブロック*/
#menubar,
#menubar-s {
	clear: both;
	overflow: hidden;
	background: #085a1f;	/*背景色*/
	border-top: 1px solid #fff;		/*上の線の幅、線種、色*/
	border-bottom: 1px solid #fff;	/*下の線の幅、線種、色*/
	outline: 5px solid #085a1f;		/*アウトライン。上の２行で設定しているラインの外側の線。*/
	padding: 6px 0px;	/*上下、左右へのボックス内の余白*/
}
#menubar ul {
	width: 1000px;	/*幅*/
	margin: 0 auto;
	overflow: hidden;
}
/*メニュー１個あたりの設定*/
#menubar li,
#menubar-s li {
	border: #c0c0c0 solid; /* ヘッダメニューの境界線（色、スタイル） */
	border-width: 1px 1px; /* ヘッダメニューの境界線の太さ（上下、左右） */
	margin: 1px;
	float: left;	/*左に回り込み*/
	width: 23%;		/*幅*/
}
#menubar li a,
#menubar-s li a {
	display:  block;
	text-decoration: none;
	text-align: center;
	color: #fff;	/*文字色*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 1.6;	/*行間*/
	letter-spacing: 0.3em;	/*文字間隔を少し広くする設定*/
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);	/*文字の影。右、下、幅、色の順の設定。色はrgbでの指定で「0,0,0」は黒で「0.4」が透明度40%の事。*/
	padding: 3px 0px;	/*上下、左右へのボックス内の余白*/
}
/*小文字の設定*/
#menubar li a span,
#menubar-s li a span{
	font-size: 10px;	/*文字サイズ*/
	display: block;
	color: rgba(255,255,255,0.6);	/*文字色。「255,255,255」は白で「0.6」が透明度40%の事。*/
	text-shadow: none;
}
/*マウスオン時*/
#menubar li a:hover {
	/*background: #fff;	背景色*/
	/*color: #085a1f;		文字色*/
	/*text-shadow: none;*/
	/*border-radius: 6px;	角丸のサイズ*/
}
#menubar li a:hover span {
	/*color: #085a1f;	文字色*/
}
/*スマホ用メニューを表示させない*/
#menubar-s {
	display: none;
}
/*３本バーアイコンを表示させない*/
#menubar_hdr {
	display: none;
}

/*コンテンツ
---------------------------------------------------------------------------*/
/*main,sub,sideを囲むブロック設定*/
#contents {
	background-color:rgba(2,2,2,0.65);
	clear: left;
	padding: 2%;	/*上部メニューとの余白*/
	overflow: hidden;
	width: 1100px;		/*幅*/
	margin: 0 auto;
}
/*main,subを囲むブロック設定*/
#contents-inner {
	float: left;
	width: 1075px;
	overflow: hidden;
}
/*main,subを囲むブロック設定（※２カラム利用時）*/
.c2 #contents-inner {
	float: none;
	width: 100%;
}

/*メインコンテンツ
---------------------------------------------------------------------------*/
#main {
	float: right;	/*右側に回り込み*/
	width: 850px;	/*幅*/
}
/*２カラム利用時*/
.c2 #main {
	width: 770px;
}
/*mainコンテンツのh2タグの設定*/
#main h2 {
	clear: both;
	margin-bottom: 15px;
	color: #FFF;		/*文字色*/
	padding: 5px 15px;	/*上下、左右への余白*/
	background: #085a1f;	/*背景色*/
}
/*mainコンテンツのh2タグの１文字目への設定*/
#main h2::first-letter {
	border-left: 3px solid #fff;	/*左側のアクセント用ラインの幅、線種、色*/
	padding-left: 10px;	/*アクセントラインと文字の間にとる余白*/
}
/*mainコンテンツのh3タグの設定*/
#main h3 {
	clear: both;
	margin-bottom: 15px;
	padding: 3px 15px;	/*上下、左右への余白*/
	color: #000;		/*文字色*/
	background: #fff;	/*背景色（古いブラウザ用）*/
	border: 1px solid #ccc;	/*線の幅、線種、色*/
}
/*mainコンテンツのh3タグの１文字目への設定*/
#main h3::first-letter {
	border-left: 3px solid #085a1f;	/*左側のアクセント用ラインの幅、線種、色*/
	padding-left: 10px;	/*アクセントラインと文字の間にとる余白*/
}
/*mainコンテンツの段落タグ設定*/
#main p {
	padding: 7px 15px 14px;	/*上、左右、下への余白*/
}
#main p + p {
	padding-top: 0px;
}
#main h2 + p,
#main h3 + p {
	padding-top: 0px;
	margin-top: -5px;
}

/*各ブロック
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#main .list {
	border: 1px solid #bcbcbc;	/*枠線の幅、線種、色*/
	margin-bottom: 15px;	/*ボックスの下に空ける余白*/
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.1);	/*影の設定。右・下・ぼかし幅・色の設定。「0,0,0」はrgbでの「黒」を指し、「0.1」は透明度「10%」の事。*/
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);			/*同上*/
}
#main .list a {
	padding: 3%;	/*ボックス内の余白*/
	text-decoration: none;
	display: block;
	overflow: hidden;
}
/*マウスオン時のボックス*/
#main .list a:hover {
	/*background: #e5ebe7;	背景色*/
}
/*ボックス内のh4タグ設定*/
#main .list h4 {
	margin-bottom: 0.5em;
	color: #085a1f;		/*文字色*/
	border-bottom: 1px solid #CCC;	/*下線の幅、線種、色*/
}
/*ボックス内のh4タグの１文字目への設定*/
#main .list h4::first-letter {
	border-left: 3px solid #085a1f;	/*左側の線の幅、線種、色*/
	padding-left: 10px;	/*線と文字との余白*/
}
/*ボックス内の段落タグ設定*/
#main .list p {
	padding: 0px;
	margin-left: 24%;	/*左側の写真幅とのバランスをとって設定*/
}
/*ボックス内の写真設定*/
#main .list figure img {
	float: left;	/*画像を左へ回り込み*/
	width: 20%;		/*写真の幅*/
	background: #FFF;	/*画像の背景色。ここでは枠線と画像の間の色になります。*/
	padding: 1%;			/*余白。ここに上の行で設定した背景色が出ます。*/
	border: 1px solid #CCC;	/*枠線の幅、線種、色*/
	margin-right: 1%;		/*写真の右側に空ける余白*/
}
/*登録日情報*/
#main .list .date {
	display:block;
	font-size:11px;
	color:#999;
	text-align: right;
}
/*各ボックスの設定（※compactタイプへの追加設定）*/
#main .list.compact {
	width: 18%;	/*幅*/
	float: left;
	margin-left: 1.3%;
	font-size: 11px;	/*文字サイズ*/
	line-height: 1.2;
}
#main .list.compact a {
	height: 220px;	/*高さ*/
}
/*ボックス内のh4タグ設定（※compactタイプへの追加設定）*/
#main .list.compact h4 {
	border: none;
}
/*ボックス内のh4タグの１文字目への設定（※compactタイプへの追加設定）*/
#main .list.compact h4::first-letter {
	border: none;
	padding: 0;
}
/*ボックス内の段落タグ設定（※compactタイプへの追加設定）*/
#main .list.compact p {
	margin: 0;
}
/*ボックス内の写真設定（※compactタイプへの追加設定）*/
#main .list.compact figure img {
	float: none;
	margin: 0;
	margin-bottom: 5px;
	border: none;
	width: auto;
	padding: 0;
}

/*一覧ページテーブル
---------------------------------------------------------------------------*/
#main .list table {
	font-size: 12px;	/*文字サイズ*/
	background: #FFF;	/*背景色*/
	width: 76%;			/*テーブル幅*/
	margin-bottom: 5px;
}
#main .list table,
#main .list table td,
#main .list table th{
	border: 1px solid #bcbcbc;	/*枠線の幅、線種、色*/
}
#main .list table td,
#main .list table th{
	padding: 1%;	/*テーブル内の余白*/
}
/*色のついた見出しブロック*/
#main .list table th{
	width: 20%;		/*幅*/
	text-align: center;		/*文字をセンタリング*/
	font-weight: normal;	/*デフォルトの太字を標準にする設定*/
	background: #edf0f5;	/*背景色*/
}
/*白い説明用ブロック*/
#main .list table td {
	width: 30%;	/*幅*/
}

/*画像切り替えｊｓ予定
---------------------------------------------------------------------------*/
/*大きな画像のボックスと説明文を入れるボックス*/
#item-image {
	position: relative;
}
/*大きな画像の１行目*/
#item-image #item_image1 {
	z-index:2;
	position:relative;
	overflow:hidden;
}
/*大きな画像の２行目*/
#item-image #item_image2 {
	z-index:1;
	position:absolute;
	left:0px;
	top:0px;
	overflow:hidden;
}
/*サムネイル画像*/
.thumbnail {
	width: 80px;	/*画像の幅*/
	height: 80px;	/*画像の高さ*/
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
	margin-bottom: 15px;
}
.thumbnail:hover {
	/*border: 1px solid #000;	マウスオン時の枠線の幅、線種、色*/
}

/*sub,sideコンテンツ
---------------------------------------------------------------------------*/
#sub,#side {
	width: 200px;	/*幅*/
	overflow: hidden;
}
#sub {
	float: left;	/*左に回り込み*/
}
#side {
	float: right;	/*右に回り込み*/

}
.c2 #side {
	display: none;	/*２カラム利用時にsideブロックを非表示にする設定*/
}
/*sub,sideコンテンツ内のh2タグ設定*/
#sub h2,
#side h2 {
	padding-bottom: 10px;
}
/*sub,sideコンテンツのh2タグの１文字目への設定*/
#sub h2::first-letter,
#side h2::first-letter{
	border-left: 3px solid #085a1f;	/*左側のアクセント用ラインの幅、線種、色*/
	padding-left: 10px;	/*アクセントラインと文字の間にとる余白*/
}
/*sub,sideコンテンツ内のpタグ設定*/
#sub p,
#side p {
	padding: 0px 0px 15px;
}

/*sub,sideコンテンツ内のメニュー
---------------------------------------------------------------------------*/
/*メニュー全体の設定*/
#sub ul.submenu,
#side ul.submenu{
	margin-bottom: 15px;	/*メニューブロックの下に空けるスペース*/
	border-top: solid 1px #e4e4e4;	/*上の線の線種、幅、色*/
}
/*メニュー１個ごとの設定*/
#sub ul.submenu li,
#side ul.submenu li{
	background: #fff;	/*背景色*/
	border-bottom: solid 1px #e4e4e4;	/*下の線の線種、幅、色*/
}
#sub ul.submenu li a,
#side ul.submenu li a{
	text-decoration: none;
	display: block;
	padding: 2px 10px;	/*メニュー内の余白。上下、左右への設定。*/
}

/*sub,sideコンテンツ内のbox1
---------------------------------------------------------------------------*/
#sub .box1,
#side .box1 {
	padding: 15px;			/*ボックス内の余白*/
	margin-bottom: 15px;	/*ボックスの下に空けるスペース*/
	background: #e5ebe7;	/*背景色*/
	border: solid 1px #d1d1d1;	/*線の線種、幅、色*/
}
/*box1内のメニューの設定*/
#sub .box1 ul.submenu,
#side .box1 ul.submenu {
	margin-bottom: 0px;
}

/*sub,sideコンテンツ　物件ボックス
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
#sub .list,
#side .list {
	font-size: 10px;	/*文字サイズ*/
	line-height: 1.5;	/*行間*/
	position: relative;
	overflow: hidden;
	background: #fff;	/*背景色*/
	line-height: 1.2;
}
#sub .list a,
#side .list a {
	padding: 5px;	/*ボックス内の余白*/
	text-decoration: none;
	display: block;
	overflow: hidden;
	background: #fff;	/*背景色*/
	border-bottom: 1px solid #ccc;	/*下線の幅、線種、色*/
}
/*奇数番目のボックスにだけ背景色をつける設定*/
#sub .list:nth-of-type(odd) a,
#side .list:nth-of-type(odd) a {
	background: #e5ebe7;
}
/*h4見出しタグ*/
#sub .list h4,
#side .list h4{
	color: #085a1f;		/*文字色*/
}
/*サムネイル画像設定*/
#sub .list figure img,
#side .list figure img {
	float: left;	/*左に回り込みさせる設定*/
	width: 50px;		/*幅*/
	margin-right: 5px;	/*画像の右側に空けるスペース*/
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
}
/*.box1の中の物件ボックス設定*/
#sub .box1 .list a,
#side .box1 .list a {
	background: #fff;	/*背景色*/
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	background: #085a1f;	/*背景色*/
	color: #fff;	/*文字色*/
	font-size: 85%;	/*文字サイズ*/
}
footer a {
	color: #fff;
}
footer a:hover {
	/*color: #fff;*/
}
footer .pr {
	display: block;
	font-size: 80%;
}

/*フッターメニュー
---------------------------------------------------------------------------*/
/*ボックス全体*/
#footermenu {
	width: 960px;	/*幅*/
	margin: 0 auto;
	overflow: hidden;
	padding: 20px;
}
/*１行分の設定*/
#footermenu ul {
	float: left;	/*左に回り込み*/
	width: 18%;		/*幅*/
	padding-right: 2%;
}

/*コピーライト
---------------------------------------------------------------------------*/
#copyright {
	clear: both;
	text-align: center;
	background: #333;	/*背景色*/
}
#copyright a {
	text-decoration: none;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl{
	padding-left: 15px;
	margin-bottom: 15px;
	height: 170px;
	overflow: auto;
}
/*日付設定*/
#new dt {
	font-weight: bold;	/*太字にする設定。標準がいいならこの行削除。*/
	float: left;
	width: 8em;
}
/*記事設定*/
#new dd {
	padding-left: 8em;
}

/*テーブル
---------------------------------------------------------------------------*/
/*ta1設定*/
.ta1 {
	width: 100%;
	margin-bottom: 15px;
}
.ta1, .ta1 td, .ta1 th {
	border: 1px solid #ccc;	/*テーブルの枠線の幅、線種、色*/
	padding: 10px;	/*ボックス内の余白*/
	word-break: break-all;
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi {
	width: auto;
	text-align: left;	/*左よせ*/
	background: #e5ebe7;	/*背景色*/
}
/*ta1の左側ボックス*/
.ta1 th {
	width: 140px;	/*幅*/
	text-align: center;	/*センタリング*/
}
/*こだわりアイコンのフロート指定(CMS用)*/
.ta1 td .specialbox {
	float: left;
	width: 25%;
	height: 40px;
}
.ta1 td .specialbox img {
	vertical-align: middle;
}

/*PAGE TOP設定
---------------------------------------------------------------------------*/
#pagetop {
	clear: both;
	padding-top: 40px;
}
#pagetop a {
	color: #FFF;		/*文字色*/
	font-size: 20px;	/*文字サイズ*/
	background: #085a1f;	/*背景色*/
	text-decoration: none;
	text-align: center;
	display: block;
	float: right;
	border-radius: 50%;	/*角丸のサイズ*/
	width: 50px;	/*幅*/
	line-height: 50px;	/*高さ*/
	margin-bottom: 30px;
}
/*マウスオン時*/
#pagetop a:hover {
	/*background-color: #999;	背景色*/
	/*color: #FFF;			文字色*/
}

/*トップページのNEWアイコン
---------------------------------------------------------------------------*/
.newicon {
	background: #F00;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 10px;	/*文字サイズ*/
	padding: 0px 5px;
	border-radius: 2px;
	margin: 0px 5px;
}

/*「おすすめ」表示
---------------------------------------------------------------------------*/
.osusume {
	font-size: 10px;	/*文字サイズ*/
	color: #FFF;		/*文字色*/
	background: #F00;	/*背景色*/
	text-align: center;
	display: block;
	width: 120px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	-webkit-transform: rotate(-45deg) translate(37px,20px);
	-ms-transform: rotate(-45deg) translate(37px,20px);
	transform: rotate(-45deg) translate(37px,20px);
}
h2 span.osusume {
	position: static;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	display: inline-block;
}

/*「ご契約済」表示
---------------------------------------------------------------------------*/
.sumi {
	font-size: 10px;	/*文字サイズ*/
	color: #FFF;		/*文字色*/
	background: #069;	/*背景色*/
	text-align: center;
	display: block;
	width: 120px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	-webkit-transform: rotate(-45deg) translate(37px,20px);
	-ms-transform: rotate(-45deg) translate(37px,20px);
	transform: rotate(-45deg) translate(37px,20px);
}
h2 span.sumi {
	position: static;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	display: inline-block;
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #e5e5e5;padding: 5px 10px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px;}
.clear {clear: both;}
ul.disc {padding: 0em 25px 15px;list-style: disc;}
.color1, .color1 a {color: #085a1f;}
.pr {font-size: 10px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}
img.fr {float: right;margin-left: 10px;margin-bottom: 10px;}
img.fl {float: left;margin-right: 10px;margin-bottom: 10px;}
.big1 {font-size: 24px;letter-spacing: 0.2em;}
.mini1 {font-size: 11px;display: inline-block;line-height: 1.5;}
.sh {display: none;}



/*画面幅800px以下の設定
---------------------------------------------------------------------------*/
@media screen and (max-width:800px){

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header .inner {
	width: auto;
	height: 100px;
	/*background: url(../images/header_bg.png) no-repeat right bottom/60%;*/
	margin: 0 10px;
}
/*ロゴ画像*/
header #logo {
	margin: 3%;	/*ロゴの上にあける余白。上下のバランスをここで調整して下さい。*/
}

/*ヘッダー右側の電話番号ブロック
---------------------------------------------------------------------------*/
/*ブロック全体*/
#contact {
	float:auto;
	width: auto;
	/*display: none;*/
}
	
/*メインメニュー
---------------------------------------------------------------------------*/
/*スマホ用メニューを非表示から表示に切り替える*/
#menubar-s {
	display: block;
	margin-top: 8px;
}
/*PC用メニューを非表示にする*/
#menubar {
	display: none;
}

/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*３本バーブロック*/
#menubar_hdr {
	display: block;
	position: absolute;
	top: 25px;		/*上から25pxの場所に配置*/
	right: 10px;	/*右から10pxの場所に配置*/
	width: 30px;	/*幅*/
	border: 1px solid #000;	/*枠線の幅、線種、色*/
	border-radius: 4px;	/*角丸のサイズ*/
	padding: 12px 10px 5px;	/*上、左右、下へのボックス内余白*/
	background: #fff;
}
/*３本のバー（1本あたり）*/
#menubar_hdr span {
	display: block;
	border-top: 3px solid #000;	/*枠線の幅、線種、色*/
	margin-bottom: 7px;	/*バー同士の余白*/
}

/*コンテンツ
---------------------------------------------------------------------------*/
/*main,sub,sideを囲むブロック設定*/
#contents {
	background-color:rgba(2,2,2,0.65);
	width: auto;
	padding: 10px;
}
/*main,subを囲むブロック設定*/
#contents-inner {
	float: none;
	width: auto;
}

/*main,sub,sideコンテンツ
---------------------------------------------------------------------------*/
#main, #sub, #side {
	float: none;
	width: auto;
}

/*メインコンテンツ
---------------------------------------------------------------------------*/
/*２カラム利用時*/
.c2 #main {
	width: auto;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------
section#new h2.open {
	background: #085a1f url(../images/btn_minus.png) no-repeat right center/34px 34px;
}
section#new h2.close {
	background: #085a1f url(../images/btn_plus.png) no-repeat right center/34px 34px;
}
*/
/*フッターメニュー
---------------------------------------------------------------------------*/
/*ボックス全体*/
#footermenu {
	width: auto;
}

/*その他
---------------------------------------------------------------------------*/
body.s-n #sub,body.s-n #side,body.s-n #footermenu {display: none;}
.sh {display:block;}
.pc {display:none;}

}

/*画面幅600px以下の設定
---------------------------------------------------------------------------*/
@media screen and (max-width:600px){

/*メインメニュー
---------------------------------------------------------------------------*/
/*メニュー１個あたりの設定*/
#menubar-s li {
	width: 48%;		/*幅*/
}

}

/*画面幅414px以下の設定
---------------------------------------------------------------------------*/
@media screen and (max-width:414px){

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header .inner {
	height: 70px;
	background: none;	/*ヘッダー背景画像を消す*/
}
/*ロゴ画像*/
header #logo {
	width: 100%;
	margin: 1%;
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*メニューブロック*/
#menubar-s {
	padding: 0px;
}
/*メニュー１個あたりの設定*/
#menubar-s li {
	width: 100%;		/*幅*/
	border-bottom: 1px solid rgba(255,255,255,0.4);	/*下線の幅、線種、色。「255,255,255」はrgb指定での白の事。「0.4」は透明度40%の事。*/
}
#menubar-s li a {
	padding: 8px 0px;
}

/*物件一覧ページの各ブロック
---------------------------------------------------------------------------*/
/*ボックス内の写真設定*/
#main .list figure img {
	padding: 0px;
	border: none;
	margin-right: 1.5%;		/*写真の右側に空ける余白*/
}
/*各ボックスの設定（※compactタイプへの追加設定）*/
#main .list.compact {
	width: 47%;	/*幅*/
	margin-left: 2%;
}
#main .list.compact a {
	height: 250px;	/*高さ*/
}

/*一覧ページの各物件ボックス内のテーブル
---------------------------------------------------------------------------*/
#main .list table {
	font-size: 11px;	/*文字サイズ*/
	line-height: 1.2;	/*行間*/
}

/*フッターメニュー
---------------------------------------------------------------------------*/
/*ボックス全体*/
#footermenu {
	display: none;
}

/*テーブル
---------------------------------------------------------------------------*/
/*テーブル内の左側*/
.ta1 th {
	width: 100px;
	padding: 5px;
}
/*テーブル内の右側*/
.ta1 td {
	width: auto;
	padding: 5px;
}

/*その他
---------------------------------------------------------------------------*/
.ws,.wl {width: 94%;}
img.fr,img.fl {float: none;margin: 0;width: 100%;}

}



/*画面幅350px以下の設定
---------------------------------------------------------------------------*/
@media screen and (max-width:350px){

/*こだわりアイコンのフロート指定(CMS用)*/
.ta1 td .specialbox {
	width: 50%;
}

}

/*追加分*/
